<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mohamed's Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>




    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Mohamed Ali</h1>
                <p class="lead text-muted">Welcome to my PORTFOLIO Here you will see all of My Experince, Skills, and
                    Pojects so Enjoy.</p>
                <p>
                    <a href="mailto:mohamed2ali2hassan@gmail.com" class="btn btn-primary my-2">Mail Me</a>
                </p>

                <img src="{% static 'p.jpg'%}" alt="" height="300" width="270">
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">

                    {%for job in jobs%}
                    <div class="col-md-4">
                        <a href="{% url 'job_detail' job.id %}">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{job.image.url}}" width="270" height="300">
                                <div class="card-body">
                                    <p class="card-text">{{job.summary}}</p>

                                </div>
                            </div>
                        </a>
                    </div>
                    {%endfor%}

                </div>
            </div>

    </main>



    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>